<!doctype HTML>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf_8"/>
        <title>Application de gestion de projet</title>
        {% block styles %}
            <link rel="stylesheet"
                  href="{% static 'main/style.css' %}"/>
        {% endblock %}
    </head>
    <body>
        <header id="bande-top">
            {% block header %} {% endblock %}
        </header>
        {% block content %} {% endblock %}
        <footer>
            <p>Copyright ENSISA IR 1A</p>
        </footer>

        {% block js %}
            <script type="text/javascript"
                    src="{% static 'main/script.js' %}"></script>
        {% endblock %}
    </body>
</html>
