
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(170, 170, 170);
}

body{
    background-color: rgb(50, 45, 45);
}

#bande-top{
    background-color: rgb(32, 85, 32);
    top: 0px;
    text-align: center;
    display: flex;
    width : 100%;
    height: 1%;
    font-size: 20px;   
}

.head-left img{
    border-radius: 100%;  
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
}
#title{
    margin: 90% 0%;
    text-align:center;
    display: inline-block;
    margin-bottom: 25%;
}


.head-left{
    display: inline-block;
    width:15%;
}

.head-right{
    margin:auto;
    width:60%;
    height:100%;
    
}
.head-right ul{
    list-style-type:none;
    text-decoration: none;
}
.head-right ul li{
    display:inline-block;
    padding: 8%;
}
.head-right ul li a{
    text-decoration: none;
    border-style:solid;
    border-color:lightgreen;
    background-color: green;
    padding:15%;
    border-radius:25%;
}

section{
    background-image: url(./img/snow.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /*padding: 30px 0px 30px 0px;*/
    padding: 2% 0%;
}   
section > div {
    /*padding: 10px 20px ;*/
    padding: 3% 2% ;
    background-image: linear-gradient(180deg,rgb(32, 85, 32),rgb(105, 105, 105));
    margin:2% 5%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
}

section div img{
    border-radius: 100%;
    margin: 5px; 
}

footer{
    bottom: 0;
    background-color:rgb(32, 85, 32);
    width: 100%;
    height: 2.5%;
    margin: auto;
}

footer p{
    /*padding: auto;*/
    text-align: center;
    height: 100%;
    line-height: 100%;
    font-size: 135%;
    padding-bottom: 0%;
}

#divgauchedroite {
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#divgauchedroite img{
    width:30%;
    border-radius:0;
}

#divgauchedroite li{
    list-style-type:none;
    margin-bottom:5%;
}

div div {
    padding: 3% 2% ;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    background-color:rgba(0,0,0,0);
}

#quoi img{
    width:40%;
    border-radius:0;
}

/*test*/