{% extends "exemple/baseLayout.html" %}
{% load static %}

{% if diffusion_list %}
    {% block title %} Liste de diffusion : {{ diffusion_list.name }} {%endblock %}
{% else %}
    <p>Cette liste n'existe pas.</p>
{% endif %}

{% block content %}
    {% if users %}
        <h2>Personnes présentes dans cette liste :</h2>
        <ul>
            {% for user in users %}
            <li><a href="{% url 'exemple:user_details' user.id %}">
                {{ user.lastname }} {{ user.firstname }}</a>
                ({{ user.email }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune personne ne fait partie de cette liste de diffusion.</p>
    {% endif %}
{% endblock %}