{% extends "exemple/baseLayout.html" %}
{% load static %}

{% block header %} 

    <div class="head-left">
        <img src="{% static 'exemple/img/logo.png' %}" alt="Logo représentant un arbre" height="100px" width="100px" />
    </div>
    <div>
        <p id="title"><a href="{% url 'exemple:home' %}">► Insérer site</a></p>
    </div>
    <div class="head-right">
        <ul>
            <li id="bouton1" href><a href="{% url 'quizz:home' %}">Quizz</a></li>
            <li id="bouton1" ><a>Infos</a></li>
            <li id="bouton1" href><a href="game.html">Game</a></li>
            <li id="param" href><img src="{% static 'exemple/img/snowflake.png' %}" height="50px" width="50px" /></li>
        </ul>
    </div>
{%endblock %}

{% block content %}
<section >
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam vel ante vitae mi bibendum tristique feugiat vel ipsum. 
        Proin non libero semper, porttitor orci ut, sagittis enim. 
        Morbi finibus gravida quam at molestie. 
        Duis egestas sollicitudin hendrerit. 
        Curabitur consequat justo eu erat ornare feugiat. 
        Vivamus sed purus condimentum, tempus mi ut, feugiat enim. 
        Fusce mattis nibh cursus pharetra imperdiet. Pellentesque id aliquam turpis, in posuere felis. 
        Suspendisse varius finibus ultricies. 
        Integer interdum, metus eget dignissim mattis, leo dui porttitor nisl, quis posuere tellus ante nec tellus. 
        Aenean quam nulla, dictum eget egestas eget, vehicula sit amet est. 
        Nunc quis placerat nulla, non egestas turpis.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam vel ante vitae mi bibendum tristique feugiat vel ipsum. 
        Proin non libero semper, porttitor orci ut, sagittis enim. 
        Morbi finibus gravida quam at molestie. 
        Duis egestas sollicitudin hendrerit. 
        Curabitur consequat justo eu erat ornare feugiat. 
        Vivamus sed purus condimentum, tempus mi ut, feugiat enim. 
        Fusce mattis nibh cursus pharetra imperdiet. Pellentesque id aliquam turpis, in posuere felis. 
        Suspendisse varius finibus ultricies. 
        Integer interdum, metus eget dignissim mattis, leo dui porttitor nisl, quis posuere tellus ante nec tellus. 
        Aenean quam nulla, dictum eget egestas eget, vehicula sit amet est. 
        Nunc quis placerat nulla, non egestas turpis.
        </p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam vel ante vitae mi bibendum tristique feugiat vel ipsum. 
        Proin non libero semper, porttitor orci ut, sagittis enim. 
        Morbi finibus gravida quam at molestie. 
        Duis egestas sollicitudin hendrerit. 
        Curabitur consequat justo eu erat ornare feugiat. 
        Vivamus sed purus condimentum, tempus mi ut, feugiat enim. 
        Fusce mattis nibh cursus pharetra imperdiet. Pellentesque id aliquam turpis, in posuere felis. 
        Suspendisse varius finibus ultricies. 
        Integer interdum, metus eget dignissim mattis, leo dui porttitor nisl, quis posuere tellus ante nec tellus. 
        Aenean quam nulla, dictum eget egestas eget, vehicula sit amet est. 
        Nunc quis placerat nulla, non egestas turpis.
        </p>

        <img src="{% static 'exemple/img/logo.png' %}" alt="Logo représentant un arbre" height="100px" width="100px" />

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.    
        Etiam vel ante vitae mi bibendum tristique feugiat vel ipsum. 
        Proin non libero semper, porttitor orci ut, sagittis enim. 
        Morbi finibus gravida quam at molestie. 
        Duis egestas sollicitudin hendrerit. 
        Curabitur consequat justo eu erat ornare feugiat. 
        Vivamus sed purus condimentum, tempus mi ut, feugiat enim. 
        Fusce mattis nibh cursus pharetra imperdiet. Pellentesque id aliquam turpis, in posuere felis. 
        Suspendisse varius finibus ultricies. 
        Integer interdum, metus eget dignissim mattis, leo dui porttitor nisl, quis posuere tellus ante nec tellus. 
        Aenean quam nulla, dictum eget egestas eget, vehicula sit amet est. 
        Nunc quis placerat nulla, non egestas turpis.
        </p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Etiam vel ante vitae mi bibendum tristique feugiat vel ipsum. 
        Proin non libero semper, porttitor orci ut, sagittis enim. 
        Morbi finibus gravida quam at molestie. 
        Duis egestas sollicitudin hendrerit. 
        Curabitur consequat justo eu erat ornare feugiat. 
        Vivamus sed purus condimentum, tempus mi ut, feugiat enim. 
        Fusce mattis nibh cursus pharetra imperdiet. Pellentesque id aliquam turpis, in posuere felis. 
        Suspendisse varius finibus ultricies. 
        Integer interdum, metus eget dignissim mattis, leo dui porttitor nisl, quis posuere tellus ante nec tellus. 
        Aenean quam nulla, dictum eget egestas eget, vehicula sit amet est. 
        Nunc quis placerat nulla, non egestas turpis.
        </p>

        <img src="{% static 'exemple/img/logo.png' %}" alt="Logo représentant un arbre" height="100px" width="100px" />

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.    
        Etiam vel ante vitae mi bibendum tristique feugiat vel ipsum. 
        Proin non libero semper, porttitor orci ut, sagittis enim. 
        Morbi finibus gravida quam at molestie. 
        Duis egestas sollicitudin hendrerit. 
        Curabitur consequat justo eu erat ornare feugiat. 
        Vivamus sed purus condimentum, tempus mi ut, feugiat enim. 
        Fusce mattis nibh cursus pharetra imperdiet. Pellentesque id aliquam turpis, in posuere felis. 
        Suspendisse varius finibus ultricies. 
        Integer interdum, metus eget dignissim mattis, leo dui porttitor nisl, quis posuere tellus ante nec tellus. 
        Aenean quam nulla, dictum eget egestas eget, vehicula sit amet est. 
        Nunc quis placerat nulla, non egestas turpis.
        </p>
    </div>
</section>
{% endblock %}
